$minTitleHeight: 3.2rem;
.accordion-container-comp {
  background-color: #e5f0fa;
  display: block;
  .accordion-container-icon {
    // display: inline-flex;
  }
  .accordion-container-icon,
  .accordion-container-close {
    position: absolute;
    width: 15%;
    padding: 0.8rem;
  }
  .accordion-container-close {
    padding: 0.9rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    border: 1px solid #dae4ee;
    padding: 0px;
    margin: 0px;

    li {
      // border: 1px solid black;
      width: 100%;
      list-style: none;
      flex-direction: column;

      .closed-item,
      .open-item {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .item-title,
        .item-title-primary {
          //background-color: #ebf0f4;
          // background-color: rgb(255, 246, 246);
          // border: 1px solid black;
          display: flex;
          width: 100%;
          // min-height: $minTitleHeight;

          justify-content: space-between;
          align-content: center;
          .item-title-text {
            font-size: 18px;
            padding: 0.7rem 0px 0.7rem 0.7rem;
            margin: 0px;
            font-weight: bold;
            color: #ff9033;
          }
        }
        button {
          min-height: $minTitleHeight;

          height: 100%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .closed-item {
        .item-title {
          .item-title-text {
            color: #657189;
            font-size: 14px;
            font-style: normal;
            font-weight: lighter;
          }
        }
      }

      .item-closed {
        -webkit-animation: conditionalClose 1s normal forwards ease-in-out;
        -moz-animation: conditionalClose 1s normal forwards ease-in-out;
        animation: conditionalClose 1s normal forwards ease-in-out;
        -webkit-transform-origin: 100% 0%;
        -moz-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
      }
      .item-opened {
        -webkit-animation: conditionalOpen 1s normal forwards ease-in-out;
        -moz-animation: conditionalOpen 1s normal forwards ease-in-out;
        animation: conditionalOpen 1s normal forwards ease-in-out;
        -webkit-transform-origin: 50% 0%;
        -moz-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
      }
    }

    .example-enter {
      opacity: 0.01;
      width: 0px;
    }
    
    .example-enter.example-enter-active {
      opacity: 1;
      width: 100px;
      transition: 700ms;
    }
    
    .example-leave {
      opacity: 1;
      width: 100px;
    }
    
    .example-leave.example-leave-active {
      opacity: 0.01;
      width: 0px;
      transition: 700ms;
    }
    .open-item {
      .item-title {
        background-color: #657189;
      }
      .item-title-primary {
        background-color: #fff;
      }

      .accordion-item-contet {
        padding: 0.8rem 0.2rem;
        width: 100%;
        background-color: #fff;
        color: #657189;
        font-size: 14px;
        font-weight: normal;
      }
    }
    &.hasIcon,
    &.cancelable {
      li:first-child {
        .closed-item,
        .open-item {
          .item-title,
          .item-title-primary {
            width: 70%;
          }
        }
      }
    }
    &.cancelable {
      li:first-child {
        .closed-item,
        .open-item {
          align-items: normal;
          .item-title,
          .item-title-primary {
            width: 85%;
          }
        }
      }
    }
  }
}
